# Data
/data/chestxray_IU
/data/pdf_files
data/cache/biomed_embeddings_cache.pkl
data/cache/rocov2_embeddings.pkl

# Environment
.env*
.venv/
*.lock

# Python caches
__pycache__/
*.pyc
*.pkl
.mypy_cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Logs & temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# ML model artifacts
*.pt
*.pth
*.bin
*.ckpt

# Packaging
*.egg-info
dist/
build/